<!DOCTYPE html>
<html lang="hu"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymleaf.org">
<head>
    <title>Contact Group Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <style>
        .container {
            width: 500px;
        }
        .panel-heading {
            text-align: center;
        }
        .btn-default {
            alignment: left;
        }
        .table-div {
            padding-top: 30px;
        }
    </style>
</head>
<body>

<div class="container">

    <div class="panel panel-primary">
        <div class="panel-heading">ContactGroups</div>
        <div class="panel-body">
            <a href="/newGroup" class="btn btn-default" role="button" th:text="${btnNewContactGroup}">New Contact Group Button</a>
            <div class="table-div">
                <table class="table">
                    <thead>
                    <tr>
                        <th></th>
                        <th>Name</th>
                        <th></th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody id = "loadContactGroups">
                        <!--add rows-->
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div class="panel panel-primary">
        <div class="panel-heading" th:text="${panelHeadLabel} ?: 'Contact'">Contacts</div>
        <div class="panel-body">
            <a id="gotToNewContact" href="#" class="btn btn-default" role="button" onclick="validationSelectRow()" th:text="${btnNewContact}">New Contact Button</a>
            <div class="table-div">
                <table class="table">
                    <thead>
                    <tr>
                        <th></th>
                        <th>Name</th>
                        <th>PhoneNumber</th>
                        <th>Email</th>
                        <th></th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody id = "loadContacts">
                        <!--add rows-->
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <script th:inline="javascript">

        let selectedRow = /*[[${currSelectedGroup}]]*/ -1,
            selectedPart = /*[[${selectedPart}]]*/ '';

        document.getElementById("loadContactGroups").innerHTML = loadContactGroups();
        function loadContactGroups() {

            let result = "",
                name;

            /*<![CDATA[*/
            /*[# th:each="contactGroup : ${contactGroups}" ]*/

            name = /*[[${contactGroup.name}]]*/ "name";

            result +=
                "<tr class='groupsPart'>\n" +
                    "<td>\n" +
                        "<form action='/selectGroup' method='post'>\n" +
                            "<input type='radio' id='rowRadio' name='groupName' onclick='selectRow(\"groupsPart\")'>\n" +
                            "<input type='hidden' name='rowCount'>\n" +
                            "<input type='hidden' name='part'>\n" +
                        "</form>\n" +
                    "</td>\n" +
                    "<td id='groupName'>" + name + "</td>\n" +
                    "<td>\n" +
                        "<a href='/editGroup'>" +
                            "<span class='glyphicon glyphicon-pencil'></span>" +
                        "</a>\n" +
                    "</td>\n" +
                    "<td>" +
                        "<a href='/deleteGroup'>" +
                            "<span class='glyphicon glyphicon-trash'></span>" +
                        "</a>" +
                    "</td>\n" +
                "</tr>";

            /*[/]*/
            /*]]>*/

            return result;

        }

        document.getElementById("loadContacts").innerHTML = loadContacts();
        function loadContacts() {

            let result = "",
                name,
                phoneNumber,
                email;

            /*<![CDATA[*/
            /*[# th:each="contact : ${contacts}" ]*/

            name = /*[[${contact.name}]]*/ 'name';
            phoneNumber = /*[[${contact.phoneNumber}]]*/ 'phoneNumber';
            email = /*[[${contact.email}]]*/ 'email';

            result +=
                "<tr class='contactsPart' >\n" +
                    "<td>\n" +
                        "<form action='/selectContact' method='post'>\n" +
                            "<input type='radio' id='rowRadio' name='contactName' onclick='selectRow(\"contactsPart\")'>\n" +
                            "<input type='hidden' name='rowCount'>\n" +
                            "<input type='hidden' name='part'>\n" +
                        "</form>\n" +
                    "</td>\n" +
                    "<td>" + name + "</td>\n" +
                    "<td>" + phoneNumber + "</td>\n" +
                    "<td>" + email + "</td>\n" +
                    "<td>\n" +
                        "<a href='/editContact'>" +
                            "<span class='glyphicon glyphicon-pencil'></span>" +
                        "</a>\n" +
                    "</td>\n" +
                    "<td>" +
                        "<a href='/deleteContact'>" +
                            "<span class='glyphicon glyphicon-trash'></span>" +
                        "</a>" +
                    "</td>\n" +
                "</tr>";

            /*[/]*/
            /*]]>*/
            return result;

        }

        if (selectedPart.length !== 0) {
            document.getElementsByClassName(selectedPart)[selectedRow].getElementsByTagName("input")[0].checked = true;
            selectedPart = '';
        }

        function validationSelectRow() {
            if (selectedRow < 0) {
                alert("A művelethez ki kell választania egy sort.");
            } else
                document.getElementById("gotToNewContact").setAttribute("href", "/newContact");

        }

        function selectRow(partName) {

            let i = 0;
            while (i < document.getElementsByClassName(partName).length) {

                if (document.getElementsByClassName(partName)[i].getElementsByTagName("input")[0].checked === true) {

                    document.getElementsByClassName(partName)[i].getElementsByTagName("input")[0].value =
                        document.getElementsByClassName(partName)[i].getElementsByTagName("td")[1].innerText;

                    document.getElementsByClassName(partName)[i].getElementsByTagName("input")[1].value = i.toString(10);
                    document.getElementsByClassName(partName)[i].getElementsByTagName("input")[2].value = partName;

                    document.getElementsByClassName(partName)[i].getElementsByTagName("form")[0].submit();

                    break;
                }

                i++;
            }

        }

    </script>

</div>

</body>
</html>